---
import RedirectLayout from "@/layouts/RedirectLayout.astro";

const cfpUrl =
  "https://docs.google.com/forms/d/e/1FAIpQLSfQk0Qwq2_DmWVFuV0lUMsIeUsQLZnEYkpbMzuhhH676P0enA/viewform";
---

<RedirectLayout
  title="Call for Proposals"
  description="Submit your talk proposal for GopherCon Singapore 2026."
  redirectURL={cfpUrl}
>
  <section class="container" style="padding: 4rem 1rem; text-align: center;">
    <h2>Call for Proposals</h2>
    <p>
      Redirecting you to our CFP form. If you are not redirected automatically,
      <a href={cfpUrl}>click here</a>.
    </p>
  </section>
</RedirectLayout>
